@()(implicit request: MessagesRequestHeader, assetsFinder: AssetsFinder)

@main("Чек ещё не закрыт", assetsFinder) {
    <div class="text-center wrapper">
        <h1>Спасибо!</h1>
        <div class="w-50 m-auto">
            <p class="text-center">
                Обратите внимание, в чеке ещё остались свободные позиции. После того, как их отметят остальные участники,
                вам поступит письмо на электронную почту с реквизитами и суммой оплаты.
            </p>
        </div>
        <a href="@routes.HomeController.index()" class="nice-link">Вернуться на главную</a>
    </div>
}